@media screen and  (min-width:0) and (max-width: 480px){
ul{
    display: block;
}
    li{
        width: 100%;
        margin-bottom: 1vh;
    }
    .banner{
        height: 15vh;
    }
    .mainBoxArticle{
        height: 48vh;
    }
    .article{
        width: 100%;
        height: 10vh;
    }
footer{
    margin-top: 2vh;
}
}