*  {
    margin: 0;
    padding: 0;
    border-spacing:2px ;
}
table{
    width: 40vw;
    margin-top: 10vh;
    margin-left: 30vw;

}
thead{
    width: 40vw;
    height: 5vh;
    color: #B93536;
}
th{
    font-size: 40px;
    border: 2px solid #736868;
}
td{
    font-size: 20px;
    height: 3vh;
    border: 1px solid black;
    width: 13vw;

}
