* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    background: #225480;
    height: 50vh;
    flex-wrap: wrap;
}

.box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: silver;
    font-size: 30px;
}

.boxOne {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.shadows-into-light-regular {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
.shadows-into-light-regular2{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}
.fjalla-one-regular{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.IndieFlower{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.main{
    font-size: 40px;
}
.widgets{
    margin-left: 2.5vw;
    margin-top: 10px;
    width: 95vw;
    height: 50vh;
    background: #225480;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainWidgets{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin-left: 2.5vw;
}
.mainWidgets h3{
    width: 30vw;
    height: 40vh;
    background: #225480;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact{
    background: #225480;
    margin-left: 2.5vw;
    margin-top: 2vh;
    width: 95vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

