*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid{
    height: 60vh;
    display: grid;
    grid-template-columns:3fr 1fr ;
    grid-template-rows: 1fr 2fr 1fr 1fr 2fr 1fr;
    grid-template-areas:
    'header header'
    'section-1 aside-1 '
    'section-2 aside-1 '
    'section-2 aside-2 '
    'section-3 aside-2 '
    'footer footer';
;


}
header{
    background: #8D8484;
    grid-area: header;
}
.section-1{
    background: #776969;
    grid-area: section-1;
}
.section-2{
    background: #643030;
    grid-area: section-2;
}
.section-3{
    background: #441818;
    grid-area: section-3;
}
.aside-1{
    background: #937575;
    grid-area: aside-1;
}
.aside-2{
    background: #644C4C;
    grid-area: aside-2;
}
footer{
    background: #8D8484;

    grid-area: footer;
}
header .aside-2 .aside-1 .section-1{
    border: 1px solid black;
}
