*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainBoxLogin{
    height: 100vh;
}
.loginBox{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
    height: 60vh;
    border: 1px solid black;
}
.boxLogo{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
img{
    margin: 0;
    padding: 0;
    width: 30vw;
    box-sizing: border-box;
    background-size: cover;
}
.boxForm{
    margin-top: 2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
}
label{
    display: block;
}
input{
    padding-left: 10px;
    margin-top: 2vh;
    width: 30vw;
    height: 5vh;
}
.button {
    font-size: 1.3vw;
    margin-top: 2vh;
    width: 30vw;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}
span{
    font-size: 1.3vw;
    margin-left: 39vw;
}
.logInFacebook{
    /*margin-top: 2vh;*/
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    text-decoration: none;
    color: #0000a1;
}
.boxCreate{
    width: 80vw;
    margin-left: 10vw;
    margin-top:4vh;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
