*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainDiv{
    font-family: "Bowlby One";
    background: black;
    height: 3004px;
    /*z-index:-3 ;*/
}
.headerLi{
    padding-top: 57px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 51px;
}
a{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.orderOnline{
    margin-right: 51px;
    background: #B3A0CD;
    width: 203px;
    height: 60px;
    flex-shrink: 0;
    color: #1E1E1E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
}

.boxH2{
    margin-top: 96px;
    height: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    color: #E9E3DC;
    width: 60vw;
    flex-wrap: wrap;
    text-align: center;
    font-size: 107.088px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 95.198px */
    letter-spacing: -2.142px;
    text-transform: uppercase;
}


.boxImgHamburger{
    margin-top: 33px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageHamburger1{
z-index: 10;
    position: relative;
}
.imageHamburger2{
    position:relative;
    left: 10vw;
    z-index: 1;
    bottom: -2vh;
}
.imageHamburger3{
    position:relative;
    right: 10vw;
    z-index: 1;
    bottom: -2vh;
}

.sectionAllBurgers{
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxAllBurger{
    margin-top: 32px;
    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background: #D1EF53;
    width: 1340px;
    height: 369px;
    flex-shrink: 0;
}
.boxAllBurgerText{
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}
h3 {
    margin-top: 98px;
    height: 370px;
    width: 533px;
    color: #1E1E1E;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 62.228px */
    letter-spacing: -1.4px;
    text-transform: uppercase;
}
p{
    margin-top: 100px;
    width: 521px;
    height: 75px;
    flex-shrink: 0;
    color: #1E1E1E;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.896%; /* 33.575px */
    letter-spacing: -0.48px;
}
.buttonAboutUs{
    border: 4px solid #1E1E1E;
    background: #E9E3DC;
    /* DropShadow */
    box-shadow: 8px 8px 0px 0px #000;
    color: #1E1E1E;
    margin-top: 50px;
    text-align: center;
    font-family: "Bowlby One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    width: 176px;
    height: 60px;
    flex-shrink: 0;
}


.MainBoxImgMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.boxImgMenuDiv{
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.boxImgMenuDiv img{
    gap: 40px;
}

.boxOrderOnline{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
}
.boxOrderOnline h3{
    color: #E9E3DC;
    width: 895px;
    text-align: center;
    font-family: "Bowlby One";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.896%; /* 71.328px */
    text-transform: uppercase;
}
.ButtonGetStarted{
    margin-top: 33px;
    width: 196px;
    height: 60px;
    flex-shrink: 0;
    background: #D1EF53;
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
}